.square {
    box-sizing: border-box; /* Allows borders while maintaining height/width values */
    /* border: 1px solid black; */
}

#container {
    height: 875px;
    width: 875px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    /* align-content: start; Keeps everything up at top instead of default behavior */
    /* align-content no longer needed after including formula to auto adjust square sizes to force a square grid */
}

/* .hovered {                       Not needed for color randomizing because adding inline styles.
    background-color: #5580b1;
} */

button {
    margin-bottom: 10px;
}