.square {
    box-sizing: border-box; /* Allows borders while maintaining height/width values */
    border: 1px solid black;
}

#container {
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: start; /* Keeps everything up at top instead of default behavior */
}

.hovered {
    background-color: #5580b1;
}

button {
    margin-bottom: 10px;
}