.square {
    box-sizing: border-box; /* Allows borders while maintaining height/width values */
    /* border: 1px solid black; */
}

#container {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: start; Keeps everything up at top instead of default behavior */
    /* align-content no longer needed after including formula to auto adjust square sizes to force a square grid */
}

.hovered {
    background-color: #5580b1;
}

button {
    margin-bottom: 10px;
}